In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
import operator
import os

El archivo C:\Users\sofia.martinez_bluet\Downloads\bottle.csv no se encuentra en la ruta especificada.

In [13]:
def read_csv_files(folder_path, file_names):
    dataframes = {}
    for file_name in file_names:
        # Construir la ruta completa del archivo
        csv_path = os.path.join(folder_path, file_name)
        
        # Verificar si el archivo existe en la ruta especificada
        if os.path.exists(csv_path):
            # Leer el archivo CSV
            df = pd.read_csv(csv_path)            
            # Añadir el DataFrame al diccionario
            dataframes[file_name] = df
            
            # Mostrar las primeras filas del DataFrame para verificar
            print(f"DataFrame de {file_name}:")
            
        else:
            print(f"El archivo {csv_path} no se encuentra en la ruta especificada.")
    
    return dataframes


folder_path = r"C:\Users\Sofia\Documentos\IMPORTANTES\Estudio\ML-Templates\Classification\Binary_Classification"
file_names = ["gender_submission.csv","test.csv"]
dataframes = read_csv_files(folder_path, file_names)


test = dataframes["test.csv"]
test

DataFrame de gender_submission.csv:
DataFrame de test.csv:

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [2]:
# SELECT THE AMOUNT YOU DESIRE
data = data[:][:500]

In [8]:
## SAVE THE NEW DATAFRAME



# Obtener la ruta a la carpeta de Descargas del usuario actual
downloads_path = os.path.join(os.path.expanduser("~"), "Downloads")

# Nombre del archivo CSV de salida
output_csv_filename = os.path.join(downloads_path, "subset_bottle.csv")

# Verificar la ruta antes de guardar
print(f"Guardando el nuevo DataFrame en: {output_csv_filename}")

# Guardar el nuevo DataFrame en un archivo CSV en la carpeta de Descargas
data.to_csv(output_csv_filename, index=False)



print(f"\nSe ha guardado el nuevo DataFrame en '{output_csv_filename}'.")

Guardando el nuevo DataFrame en: C:\Users\sofia.martinez_bluet\Downloads\subset_bottle.csv

Se ha guardado el nuevo DataFrame en 'C:\Users\sofia.martinez_bluet\Downloads\subset_bottle.csv'.